body {
  background: wheat;
  font-family: Garamond;
  font-size: 16px;
  min-width: 120px;
}

.body-container {
  display: grid;
  gap: 8px;
  columns: 1;
}

input {
  width: 100%;
}

button {
  background: brown;
  color: whitesmoke;
  font: Garamond, 18px;
  border: 1px solid brown;
  border-radius: 8px;
}